.Reservation{display: flex; flex-direction:column; justify-content: center; align-items: center; gap: 30px;}
h4{color: #27AE60; font-size: 18px;}
h2{text-transform: uppercase; color: #273E60;}
.h{text-align: center;}
.Reservation form{display: flex; flex-direction: column; gap: 10px; width: 30%; color: #000000; background-color: #F2F2F2;
border-radius: 5px; padding: 25px;}
.Reservation form input{padding: 7px; outline-color: #27AE60; border: none;}
.boutton{background-color: #27ae60; padding: 5px 10px; cursor: pointer; border: none;
    border-radius: 5px;}
.boutton a{text-decoration: none; color: #ffffff; font-size: 15px; transition: 0.5s; 
    padding: 5px 10px;}
.boutton:hover a{font-size: 16px;}